/* .main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 32em;
    overflow: hidden;
    margin: 2em;
    position: relative;
    box-shadow: 0 0 10px rgba(86, 82, 82, 0.8);
    
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .card::after {
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
  }
  
  .card img {
    top: 50%;
    transform: translateY(-55%);
    z-index: 10000;
    width: 100%;
    max-width: 300px;
    transition: 0.5s;
  }
  
  .card:hover img {
    top: 0%;
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
  
  .card h2 {
    color: #370617;
  } */
